<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أنا تقني | لوحة التحكم</title>
    <link rel="stylesheet" href="/static/css/cpanel.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <link rel="stylesheet" href="/static/font/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block style %}
    {%endblock%}
</head>
<body>
    <aside>
        <a href="{{url_for('products_panel')}}">المنتجات</a >
        <a href="{{url_for('titles_panel')}}"> المتجر</a >
        <a href="{{url_for('titles_panel2')}}"> صفحة الدفع الفوري</a >
    </aside>
    <div id="loading-wrapper" class='hidden'>
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
    </div>
    {% block content %}
    {% endblock %}
    <script src="/static/js/puplic.js"></script>
</body>
</html>